* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.top {
    background-color: #020A18;
    padding-left: 388px;
    padding-bottom: 99px;
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
}

.top__content {
    margin-top: 160px;
    margin-bottom: 197px;

}

.top__info {
    margin-right: 893px;
}

.subtitle {
    margin-bottom: 10px;
    color: var(--3-a-68-b-8, #3A68B8);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    text-transform: uppercase;
}

.title {
    margin-bottom: 40px;
    color: var(--ffffff, #FFF);
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    /* 71.5px */
}

.text {
    color: var(--ffffff, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
}

.top__buttons {
    margin-top: 50px;
}