* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Inter", sans-serif;
}

.top {
    border: 2px solid black;
    padding-left: calc(50% - 587px);
    padding-right: calc(50% - 587px);

}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 84px;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
}

.header__link {
    padding: 10px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__link_mod {
    color: #F25822;
}

.top__content {
    margin-top: 84px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.top__info {
    width: 556px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.title {
    margin-bottom: 20px;
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.text {
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.top__buttons {
    display: flex;
    justify-content: flex-start;
    gap: 48px;
    margin-top: 32px;
}

.top__button_start {
    width: 140px;
    padding: 16px 10px;
    border: none;
    border-radius: 56px;
    background: #F25822;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.top__button_wath {
    color: #AAA;
    background-color: #fff;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.top__logos {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 47px;
    padding-top: 100px;
    padding-bottom: 100px;
}