* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.top {
    border: 2px solid black;
}

.header {
    margin-top: 40px;
    margin-bottom: 84px;
    display: flex;
    align-items: center;
    gap: 460px;
}

.top__content {
    margin-top: 84px;
    margin-bottom: 100px;
}

.title {
    margin-bottom: 20px;
}

.top__buttons {
    margin-top: 32px;
}

.top__logos {
    padding-top: 100px;
    padding-bottom: 100px;
}